
<div class="container"> <!--position_below_navbar-->
<div class="centered-pills">
<ul class="nav nav-pills ">
  <li role="presentation" class="active"><a href="<%=profile_path%>"><%=t('common.clientprofile.home')%></a></li>
  <li role="presentation"><a href="<%=edit_client_path(user)%>"><%=t('common.clientprofile.editprofile')%></a></li>
  <li role="presentation"><a href="<%=showmessage_path%>"><%=t('common.clientprofile.messages')%></a></li>
</ul>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h2><%=user.first_name+" "+user.last_name%></h2>
    </div>
</div>

<div class="row">
<div class="col-md-3 col-sm-3">
    <div class="user_wrapper">
<%= render :partial => 'shared/preview_image',:locals => { :image_url=> user.profile_image.url}%>  
        <div class="description">
            <h4><%=user.first_name%>&nbsp;&nbsp;<%=get_value_to_show(user.last_name)%></h4>
            <h5><%=t('common.clientprofile.email')%>:<strong>
                <%=user.email%>
            </strong></h5>
            <h5><%=t('common.clientprofile.phone')%>:<strong><%=get_value_to_show(user.phone)%></strong></h5>
            <h5><%=t('common.clientprofile.address')%>:<strong><%=get_value_to_show(user.address)%></strong></h5>

        </div>
    </div>
</div>
<div class="col-md-9 col-sm-9  user-wrapper">
    <div class="description">


        <hr/>
        <h3> <%=t('common.clientprofile.languages')%>: </h3>
        
        <%= render :partial => 'shared/render_list_as_badges',:locals => { :list => user.languages,:fields=> %w[name] }%>
        <hr/>
       <h3> <%=t('common.clientprofile.propertytypes')%>: </h3>
        
        <%= render :partial => 'shared/render_list_as_badges',:locals => { :list => user.properties,:fields=> %w[name] }%>
        <hr/> 
        <h3> <%=t('common.clientprofile.locations')%>: </h3>
        
        <%= render :partial => 'shared/render_list_as_badges',:locals => { :list => user.locations ,:fields=> %w[fullname]}%>  
        <hr/> 
    </div>
</div>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
   <%= render :partial => 'reviews/show', :locals => {:reviews => @reviews, :user => user,:showaddreview=>false}%>     
    </div>    
</div>   
</div>


